@import url(https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Rowdies:wght@300;400;700&display=swap);
/* font-family: 'Goldman', cursive; */
/* weights:  400 | 700 (bold) */

/* font-family: 'Rowdies', cursive; */
/* weights: 300 | 400 | 700 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* /////////////////////////////////////////////////////////////////// */
/* //////////////////      Header Start       //////////////////////// */

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	/* border: 10px solid black; */

	/* background-color: #e0fbfc; */
	background: hsla(214, 20%, 80%, 1);

	background: radial-gradient(
		circle,
		hsla(214, 20%, 80%, 1) 0%,
		hsla(0, 0%, 100%, 1) 54%,
		hsla(36, 100%, 55%, 1) 70%,
		hsla(353, 86%, 54%, 1) 93%,
		hsla(240, 17%, 12%, 1) 100%
	);

	background: -moz-radial-gradient(
		circle,
		hsla(214, 20%, 80%, 1) 0%,
		hsla(0, 0%, 100%, 1) 54%,
		hsla(36, 100%, 55%, 1) 70%,
		hsla(353, 86%, 54%, 1) 93%,
		hsla(240, 17%, 12%, 1) 100%
	);

	background: -webkit-radial-gradient(
		circle,
		hsla(214, 20%, 80%, 1) 0%,
		hsla(0, 0%, 100%, 1) 54%,
		hsla(36, 100%, 55%, 1) 70%,
		hsla(353, 86%, 54%, 1) 93%,
		hsla(240, 17%, 12%, 1) 100%
	);

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#c1cad6", endColorstr="#FFFFFF", GradientType=1 );
	font-size: calc(10px + 2vmin);

	height: 80vmin;
	width: 100vw;
	padding: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: fixed;
	top: 0;
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.spacer {
	/* border: 2px solid orange; */
	height: 80vmin;
	width: 50px;
}

/* //////////////////      Header End       //////////////////////// */
/* /////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////// */
/* //////////////////      Navbar Start       //////////////////////// */
.nav-container {
	font-family: 'Goldman', cursive;
	font-weight: 400;

	height: 55px;
	width: 100vw;

	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;

	display: flex;
	flex-direction: column;
	/* justify-content: flex-end; */
}
.navbar {
	/* border: 1px solid yellow; */
	background-color: #191923;

	width: 100vw;
	height: 50px;
	padding: 15px 25px 15px 15px;

	display: flex;
	justify-content: space-between;
}

.nav-link {
	color: aliceblue;
	text-decoration: none;
	outline: none;

	padding: 0 10px;
	border-radius: 5px;
	transition: 0.15s ease;
}

#link {
	text-decoration: none;
	color: #191923;
}

.nav-menu {
	display: flex;
	justify-content: space-evenly;
}

.nav-link:focus {
	box-shadow: 0 0 5px aliceblue;
}

.nav-link:hover,
.drop-menu li:hover {
	box-shadow: 0 0 10px aliceblue;
}

.drop-menu {
	background-color: #98c1d9;

	color: #191923;

	margin: 10px;
	padding: 15px 35px 15px 5px;
	border-radius: 5px;
	list-style-type: none;
}

.drop-menu li {
	border-radius: 5px;
	padding: 1px 5px;
	transition: 0.15s ease;
}

.nav-border {
	width: 100%;
	height: 5px;

	z-index: -1;

	background: hsla(240, 17%, 12%, 1);

	background: linear-gradient(
		180deg,
		hsla(240, 17%, 12%, 1) 0%,
		hsla(214, 20%, 80%, 1) 18%,
		hsla(36, 100%, 55%, 1) 66%,
		hsla(353, 86%, 54%, 1) 86%,
		hsla(240, 17%, 12%, 1) 100%
	);

	background: -moz-linear-gradient(
		180deg,
		hsla(240, 17%, 12%, 1) 0%,
		hsla(214, 20%, 80%, 1) 18%,
		hsla(36, 100%, 55%, 1) 66%,
		hsla(353, 86%, 54%, 1) 86%,
		hsla(240, 17%, 12%, 1) 100%
	);

	background: -webkit-linear-gradient(
		180deg,
		hsla(240, 17%, 12%, 1) 0%,
		hsla(214, 20%, 80%, 1) 18%,
		hsla(36, 100%, 55%, 1) 66%,
		hsla(353, 86%, 54%, 1) 86%,
		hsla(240, 17%, 12%, 1) 100%
	);

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#191923", endColorstr="#c1cad6", GradientType=1 );
}

/* //////////////////      Navbar End       //////////////////////// */
/* /////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////// */
/* //////////////////      Body Start       //////////////////////// */

.forms {
	/* border: 2px dotted white; */

	color: white;

	text-decoration: none;
	font-family: 'Rowdies', cursive;
	font-size: calc(2vw + 10px);
}

body {
	overflow-x: hidden;
}

.body-container {
	padding-bottom: 15px;
	/* border: 1px solid red; */
	background-color: #191923;

	opacity: 0.99;

	width: 100vw;
	min-height: 100vh;
	padding-top: 100px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.body-intro {
	font-size: calc(6vmin + 10px);
	font-family: 'Rowdies', cursive;
	font-weight: 700;
	/* font-family: 'Goldman', cursive; */
	color: aliceblue;

	padding: 0 12%;
}

/* /////////////////////////////////////////////////////////////////// */
/* //////////////////      Sections       //////////////////////// */

.section-container {
	/* border: 5px solid orange; */

	width: 100vw;
	height: 950px;

	padding: 2%;

	overflow-x: hidden;
}

#flex-row {
	display: flex;
}

.section-title {
	border-radius: 5px;
	padding: 10px;
	padding-left: 50px;
	font-family: 'Goldman', cursive;
	/* weights:  400 | 700 (bold) */
	font-weight: 700;
	font-size: 28px;

	/* font-family: 'Rowdies', cursive; */
	/* weights: 300 | 400 | 700 */
}

.horizontal-title {
	width: 70vw;
	min-width: 250px;
	height: 55px;
}

.vertical-title {
	width: 50px;
	height: 550px;
}

.title-right {
	/* border: 3px solid salmon; */
	margin-left: -10px;
	margin-top: -25px;
	z-index: -1;
	/* position: absolute; */
}

.square-title {
	width: 200px;
	height: 200px;
}

.bg-gradient-orange-top {
	/*   roatation - 90*  */
	background: hsla(240, 17%, 12%, 1);

	background: linear-gradient(
		90deg,
		hsla(240, 17%, 12%, 1) 0%,
		hsla(0, 0%, 100%, 1) 4%,
		hsla(0, 0%, 100%, 1) 30%,
		hsla(214, 20%, 80%, 1) 43%,
		hsla(36, 100%, 55%, 1) 55%,
		hsla(353, 86%, 54%, 1) 94%,
		hsla(240, 17%, 12%, 1) 100%
	);

	background: -moz-linear-gradient(
		90deg,
		hsla(240, 17%, 12%, 1) 0%,
		hsla(0, 0%, 100%, 1) 4%,
		hsla(0, 0%, 100%, 1) 30%,
		hsla(214, 20%, 80%, 1) 43%,
		hsla(36, 100%, 55%, 1) 55%,
		hsla(353, 86%, 54%, 1) 94%,
		hsla(240, 17%, 12%, 1) 100%
	);

	background: -webkit-linear-gradient(
		90deg,
		hsla(240, 17%, 12%, 1) 0%,
		hsla(0, 0%, 100%, 1) 4%,
		hsla(0, 0%, 100%, 1) 30%,
		hsla(214, 20%, 80%, 1) 43%,
		hsla(36, 100%, 55%, 1) 55%,
		hsla(353, 86%, 54%, 1) 94%,
		hsla(240, 17%, 12%, 1) 100%
	);

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#191923", endColorstr="#ffffff", GradientType=1 );
}

.bg-gradient-orange-right {
	background: hsla(240, 17%, 12%, 1);

	background: linear-gradient(
		360deg,
		hsla(240, 17%, 12%, 1) 0%,
		hsla(0, 0%, 100%, 1) 4%,
		hsla(0, 0%, 100%, 1) 30%,
		hsla(214, 20%, 80%, 1) 43%,
		hsla(36, 100%, 55%, 1) 55%,
		hsla(353, 86%, 54%, 1) 94%,
		hsla(240, 17%, 12%, 1) 100%
	);

	background: -moz-linear-gradient(
		360deg,
		hsla(240, 17%, 12%, 1) 0%,
		hsla(0, 0%, 100%, 1) 4%,
		hsla(0, 0%, 100%, 1) 30%,
		hsla(214, 20%, 80%, 1) 43%,
		hsla(36, 100%, 55%, 1) 55%,
		hsla(353, 86%, 54%, 1) 94%,
		hsla(240, 17%, 12%, 1) 100%
	);

	background: -webkit-linear-gradient(
		360deg,
		hsla(240, 17%, 12%, 1) 0%,
		hsla(0, 0%, 100%, 1) 4%,
		hsla(0, 0%, 100%, 1) 30%,
		hsla(214, 20%, 80%, 1) 43%,
		hsla(36, 100%, 55%, 1) 55%,
		hsla(353, 86%, 54%, 1) 94%,
		hsla(240, 17%, 12%, 1) 100%
	);

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#191923", endColorstr="#ffffff", GradientType=1 );
}

.bg-gradient-orange-bottom {
	background: hsla(202, 46%, 72%, 1);

	background: linear-gradient(
		270deg,
		hsla(202, 46%, 72%, 1) 0%,
		hsla(182, 82%, 93%, 1) 17%,
		hsla(12, 83%, 62%, 1) 62%
	);

	background: -webkit-linear-gradient(
		270deg,
		hsla(202, 46%, 72%, 1) 0%,
		hsla(182, 82%, 93%, 1) 17%,
		hsla(12, 83%, 62%, 1) 62%
	);

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#98c1d9", endColorstr="#e0fbfc", GradientType=1 );
}

.superPic {
	height: 100%;
	width: 100%;
	border-radius: 10px;

	object-fit: contain;
}

.content-bubble {
	background-color: aliceblue;
	border-radius: 15px;

	padding: 15px;
}
.bubble-left {
	margin-left: 15px;
	margin-top: -10px;

	width: 40vw;
	min-width: 200px;
	max-width: 1000px;

	height: 800px;

	/* display: flex; */
}

.bubble-top-left {
	margin-left: 35px;
	margin-top: -165px;

	width: 40vw;
	min-width: 200px;
	height: 500px;
}

.bubble-right {
	margin-left: 10%;
	margin-top: -10px;

	width: 70vw;
	min-width: 200px;
	height: 500px;
}

.bubble-horizontal {
	margin-left: -10px;
	margin-top: 10px;

	width: 80vw;
	min-width: 200px;
	height: 300px;
}

/* //////////////////      Section End       //////////////////////// */
/* /////////////////////////////////////////////////////////////////// */

.box {
	/* border: 10px solid #ee6c4d; */
	background-color: #98c1d9;

	height: 300px;
	width: 175px;

	margin-top: 25px;
}

/* //////////////////      Body End       //////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
